{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "plugins": [
    "react",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "brace-style": "error",
    "camelcase": "error",
    "comma-dangle": "off",
    "comma-style": ["error", "last"],
    "complexity": ["error", 6],
    "consistent-this": ["error", "that"],
    "curly": ["error", "all"],
    "dot-notation": "error",
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1 } ],
    "max-depth": ["error", 4],
    "max-len": ["error", 120],
    "max-nested-callbacks": ["error", 4],
    "max-params": ["error", 4],
    "max-statements": ["error", 13],
    "new-cap": "off",
    "no-console": "off",
    "no-mixed-spaces-and-tabs": "error",
    "object-curly-spacing": ["error", "never"],
    "one-var": ["error", "never"],
    "quotes": ["error", "single"],
    "require-jsdoc": "off",
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "spaced-comment": ["error", "always"],
    "wrap-iife": "error",
    "yoda": ["error", "never"],
    
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/self-closing-comp": "error",

    "import/first": ["error"],
    "import/newline-after-import": ["error"],
    "import/order": ["error", {"groups": ["builtin", "external"]}],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
